#postsection{
    width:100%;
    height: 1500px;
    /* color: var(--fifth);
    font-size: 36px;
    text-decoration:none;
    font-weight:700; */
    display:flex;
    flex-direction:column;
    align-items:center;
}
#post{
    /* position:relative;
    width:700px;
    height: 300px;
    margin-bottom:50px;
    background-color:white;
    border: 2px solid rgb(226, 226, 226);
    border-radius: 5px;
    display:flex; */

    position: relative;
  width: 700px;
  height: 300px;
  margin-bottom: 50px;
  background-color: white;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 10px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#leftsection{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;

    /* width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px; */
}
#rightsection{
    position:relative;
    right:0px;
    /* width: 50%;
    height: 100%; */
}
#imagesection{
    /* width: calc(100% - 50px);
    height: calc(100% - 50px);  */
    /* border:2px solid rgba(150, 150, 150, 1);
    border-radius:5px;

    box-sizing: border-box; */

    margin-left:25px;

    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ptitle {
    width:100%;
    height:50px;        
    padding-left:10px;
    color:var(--fifth);
    font-size: 30px;
    text-decoration:none;
    font-weight:bold;

    /* font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px; */
}
#pdescription{
    width:100%;
    height:150px;
    /* background-color:green; */

    padding-left:10px;
    color:var(--fifth);
    font-size: 14px;
    text-decoration:none;
    text-overflow:ellipsis;



    /* font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px; */
}
#puser{
    width:100%;
    height:50px;
    display:flex;

    /* display: flex;
  align-items: center;
  margin-top: 10px; */
    
}
#icon{
    width:36px;
    height:36px;
    margin-top:5px;
    margin-left:5%;
    border-radius:50%;
    background-color:grey;
    overflow:hidden;
    /* margin-right: 10px; */

}
#pusername{
    margin-left:10px;
    line-height: 50px;

    /* line-height: 36px;
  font-weight: bold;
  color: #333; */
}
#other{
    width:100%;
    display:flex;
    flex-grow:1;
    /* display: flex;
    margin-top: 10px;     */
}







#popularsection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular {
  position: relative;
  width: 700px;
  height: 300px;
  margin-bottom: 50px;
  background-color: white;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 5px;
  display: flex;
}

#price-section {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f5f5f5;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  /* color: var(--fifth); */
  color: #333;
  border-radius:5px;
}