{% extends "base.html" %}
{% load static %}

{% block content %}
  {% if services %}
      {% for service in services %}
        <div class="card w-75" style="margin-left: 50%; transform: translate(-50%);">
          <div class="card-body">
            <h5 class="card-title">{{ service.serviceName }}</h5>
            <p class="card-text">{{ service.description }}</p>
            <p class="card-text">${{ service.price }}/hr</p>
            <div>
                <a href="{% url 'posting_service:service_appointments' service.ServiceID %}" class="btn btn-secondary">Manage Appointments</a>
                <a href="{% url 'posting_service:edit_service' service.ServiceID %}" class="btn btn-primary">Edit</a>
                <button type="button" class="btn btn-danger delete-now" data-toggle="modal" data-target="#staticBackdrop" data-service-name="{{ service.serviceName }}" data-service-id="{{ service.ServiceID }}">Delete</button>
            </div>
          </div>
        </div>
        <div style="margin-bottom: 30px;"></div>
      {% endfor %}
  {% else %}
    <div class="alert alert-info" role="alert" style="width: 75%; margin-left: 50%; transform: translate(-50%);">
      There are no services available. Click <a href="{% url 'posting_service:create-service' %}">here</a> to create a service posting.
    </div>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Delete <span id="service-name"></span>?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this service? This action cannot be reversed!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="confirm-delete" data-service-id="">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <a type="button" class="btn btn-secondary" href="{% url 'home' %}" style="margin-left: 30px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
    <path d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753"></path></svg>
    Home
  </a>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      // Function to set the service name in the modal title
      $('.delete-now').click(function() {
        var serviceName = $(this).data('service-name');
        var serviceID = $(this).data('service-id')
        $('#service-name').text(serviceName);
        $('#confirm-delete').data('service-id', serviceID);
      });
    });
    $('#confirm-delete').click(function() {
      var serviceID = $(this).data('service-id');
      // Construct the delete URL using the service ID
      var deleteUrl = `{% url 'posting_service:delete_service' 'dummyId' %}`.replace('dummyId', serviceID);
      // Redirect to the delete URL
      window.location.href = deleteUrl;
    });
  </script>
{% endblock content %}