{% extends "base.html" %}
{% load static %}

{% block content %}
  {% if appointments %}
    <div class="row row-cols-md-3" style="width: 80%; margin-left: 50%; transform: translate(-50%);">
      {% for appointment in appointments %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ appointment.client.first_name }} {{ appointment.client.last_name }}</h5>
                <p class="card-text">{{ appointment.date_time|date:"D, N d - g:i A" }}</p>
                <p class="card-text">Status: {{ appointment.status }}</p>
                <a href="{% url 'posting_service:change_status' appointment.AppointmentID %}" class="btn btn-primary">Change Status</a>
            </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-info" role="alert" style="width: 75%; margin-left: 50%; transform: translate(-50%);">
      There are no appointments scheduled.
    </div>
  {% endif %}
    <a type="button" class="btn btn-secondary" href="{% url 'home' %}" style="margin-left: 30px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
      <path d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753"></path></svg>
      Home
  </a>
{% endblock content %}