{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
  {% for service in services %}
    <div id="review" style="margin-left: 50%; transform: translate(-50%);">
      <div id="leftsection">
          <div id="ptitle" style="margin-top: 10px"> {{ service.serviceName }} </div>
          <div id="pdescription">
              {{ service.description | truncate_with_ellipsis:350 }}
          </div>
          <div id="puser">
            
            {% comment %} <div id="icon">
                    <img src="../landscaping.jpg" style="width: 100%;height: 100%;">
            </div> {% endcomment %}
            <div id="pusername">
                {{ service.freelancer.first_name }} {{ service.freelancer.last_name }}
            </div>
          </div>
          <div id="other">
              <div class="heartsection">
                  <i class="far fa-heart animated-heart-outline fa-2x"></i>
                  <i class="fas fa-heart animated-heart fa-2x"></i>
              </div>
              <a href="{% url 'posting_service:service_page' service.ServiceID %}" class="btn custom-button" style="height: 40px; margin-left: 15px;">View</a>
              {% comment %} <div class="starsection">
                  <i class="far fa-star starOutline" data-star="1"></i>
                  <i class="far fa-star starOutline" data-star="2"></i>
                  <i class="far fa-star starOutline" data-star="3"></i>
                  <i class="far fa-star starOutline" data-star="4"></i>
                  <i class="far fa-star starOutline" data-star="5"></i>
              </div> {% endcomment %}
          </div>
      </div>
      <div id="rightsection">
          <div id="imagesection">
              {% if service.photo_set.first %}
                <img src="{{ service.photo_set.first.service_img.url }}" style="width: 100%;height: 100%; object-fit: cover;">
              {% else %}
                <img src="{% static 'img/temp.jpeg' %}" style="width: 100%;height: 100%; object-fit: cover;">
              {% endif %}
              
          </div>
      </div>
      <div id="price-section">
        ${{ service.price }}/hr
      </div>
    </div>
  {% endfor %}
  
{% endblock content %}

{% comment %} {% block content %}
  <div class="row row-cols-md-3">
    {% for service in services %}
      <div class="card">
          {% if service.service_img %}
          <img src="{{ service.service_img.url }}" alt="{{ service.serviceName }}" class="card-img-top">
          {% else %}
          <img src="{% static "img/IMG2.jpg" %}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body">
              <h5 class="card-title">{{ service.serviceName }}</h5>
              <p class="card-text">{{ service.description }}</p>
              <p class="card-text">${{ service.price }}/hr</p>
              <div>
                  <a href="{% url 'posting_service:service_page' service.ServiceID %}" class="btn btn-primary">View</a>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book an Appointment for <span id="service-name"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      // Function to set the service name in the modal title
      $('.book-now').click(function() {
        var serviceName = $(this).data('service-name');
        $('#service-name').text(serviceName);
      });
    });
  </script>
{% endblock %} {% endcomment %}