{% extends "base.html" %}
{% load static %}

{% block content %}
  {% for service in services %}
    <div class="card" style="width: 18rem; margin-left:30px;">
      {% if service.service_img %}
          <img src="{{ service.service_img.url }}" alt="{{ service.serviceName }}">
      {% else %}
          <img src="{% static "img/IMG2.jpg" %}" class="card-img-top" alt="...">
      {% endif %}
      
      <div class="card-body">
        <h5 class="card-title">{{ service.serviceName }}</h5>
        <p class="card-text">{{ service.description }}</p>
        <p class="card-text">{{ service.price }}</p>
        <div>
          {% comment %} <a href="{% url 'appointments:book' service.ServiceID %}" class="btn btn-primary">Book Now</a> {% endcomment %}
          <button type="button" class="btn btn-primary book-now" data-toggle="modal" data-target="#exampleModal" data-service-name="{{ service.serviceName }}">Book Now</button>
          <a href="{% url 'reviews:review' service.ServiceID %}" class="btn btn-primary">Review</a>
        </div>
      </div>
    </div> 
    <div style="margin-bottom:30px;"></div> 
  {% endfor %}

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book an Appointment for <span id="service-name"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      // Function to set the service name in the modal title
      $('.book-now').click(function() {
        var serviceName = $(this).data('service-name');
        $('#service-name').text(serviceName);
      });
    });
  </script>
{% endblock %}