{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
  {% for service in services %}
    <div id="review" style="margin-left: 50%; transform: translate(-50%);">
      <div id="leftsection">
          <div id="ptitle" style="margin-top: 10px"> {{ service.serviceName }} </div>
          <div id="pdescription">
              {{ service.description | truncate_with_ellipsis:350 }}
          </div>
          <div id="puser">
            <div id="pusername">
                {{ service.freelancer.first_name }} {{ service.freelancer.last_name }}
            </div>
          </div>
          <div id="other">
              <div class="heartsection">
                  <i class="far fa-heart animated-heart-outline fa-2x"></i>
                  <i class="fas fa-heart animated-heart fa-2x"></i>
              </div>
              <a href="{% url 'posting_service:service_page' service.ServiceID %}" class="btn custom-button" style="height: 40px; margin-left: 15px;">View</a>
          </div>
      </div>
      <div id="rightsection">
          <div id="imagesection">
              {% if service.photo_set.first %}
                <img src="{{ service.photo_set.first.service_img.url }}" style="width: 100%;height: 100%; object-fit: cover;">
              {% else %}
                {% if service.category == 'EDUCATION' %}
                  <img src="{% static 'img/education.jpeg' %}" style="width: 100%;height: 100%; object-fit: cover;">
                {% elif service.category == 'PERSONAL CARE AND GROOMING' %}
                  <img src="{% static 'img/personal_care_and_grooming.jpeg' %}" style="width: 100%;height: 100%; object-fit: cover;">
                {% elif service.category == 'CLEANING AND JANITORIAL' %}
                  <img src="{% static 'img/cleaning_and_janitorial.jpeg' %}" style="width: 100%;height: 100%; object-fit: cover;">
                {% elif service.category == 'CONSTRUCTION AND RENOVATION' %}
                  <img src="{% static 'img/construction.jpeg' %}" style="width: 100%;height: 100%; object-fit: cover;">
                {% elif service.category == 'LANDSCAPING AND GARDENING' %}
                  <img src="{% static 'img/gardening.avif' %}" style="width: 100%;height: 100%; object-fit: cover;">
                {% elif service.category == 'CHILD AND PET CARE' %}
                  <img src="{% static 'img/child_care.jpeg' %}" style="width: 100%;height: 100%; object-fit: cover;">
                {% elif service.category == 'TECHNOLOGY AND CREATIVE ARTS' %}
                  <img src="{% static 'img/film.jpeg' %}" style="width: 100%;height: 100%; object-fit: cover;">
                {% else %}
                  <img src="{% static 'img/freelancer.png' %}" style="width: 100%;height: 100%; object-fit: cover;">
                {% endif %}
              {% endif %}
              
          </div>
      </div>
      <div id="price-section">
        ${{ service.price }}/hr
      </div>
    </div>
  {% endfor %}
  
{% endblock content %}