{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="webpage">
        <p id="text">Where Talent Meets Opportunity</p>
        <div id="searchcontainer">
            <form action="" class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit"><i class="fa fa-search fa-sm" style="color:white;"></i></button>
            </form>
        </div>
        <div class="slider">
            <div class="slide"></div>
            <div class="slide"></div>
            <div class="slide"></div>
            <div class="slide"></div>
            <div class="slide"></div>
        </div>
        <div class="circle" onclick="scrollToSection()">
            <i class="fa fa-angle-down fa-2x" style="color:white;"></i>
        </div>

        <div id="proposalsection">
            <div id="proposal">
                <div id="leftSection">
                    <img src="{% static 'img/purpose.jpeg' %}" alt="Proposal Image">
                </div>
                <div id="rightSection">
                <h2><i class="icon far fa-lightbulb"></i> Find a skill that best suits your needs</h2>
                <p><i class="icon far fa-money-bill-alt"></i> Low fees and no surprises - Know what you are paying for</p>
                <p><i class="icon fas fa-check"></i> Verified and Trustworthy - Meet people that can offer you quality services</p>
                <p><i class="icon fas fa-briefcase"></i> Build your career through us - Find exactly what you are looking for from the services we offer</p>
                <p><i class="icon fas fa-globe"></i> Issues? Talk to our support team - We are happy to help you with any problems you face</p>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-100 0 1000 50" width="100%" height="50" preserveAspectRatio="none" style="display:block; width:100%;">
            <polygon points="-100,50 0,0 100,50" fill="var(--primary)" transform="rotate(180 0 25)"/>
            <polygon points="100,50 200,0 300,50" fill="var(--primary)" transform="rotate(180 200 25)"/>
            <polygon points="300,50 400,0 500,50" fill="var(--primary)" transform="rotate(180 400 25)"/>
            <polygon points="500,50 600,0 700,50" fill="var(--primary)" transform="rotate(180 600 25)"/>
            <polygon points="700,50 800,0 900,50" fill="var(--primary)" transform="rotate(180 800 25)"/>
        </svg>
        <div id="titlecategories">
            Categories
        </div>
        <div id = "categories">
            <a href="{% url 'posting_service:category' 'EDUCATION' %}"><div id="pannel">
                <img src="{% static 'img/education.jpeg' %}" alt="Description" style="width: 150%;height: 100%; object-fit:cover; object-position:right;"/>
                <span id="pannelheader" style="text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000; ">
                    Education
                </span>
            </div></a>
            <a href="{% url 'posting_service:category' 'PERSONAL CARE AND GROOMING' %}"><div id="pannel">
                <img src="{% static 'img/personal_care_and_grooming.jpeg' %}" alt="Description" style="width: 150%;height: 100%; object-fit:cover; object-position:center;"/>
                <span id="pannelheader" style="font-size: 18px; text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000; ">
                    Personal Care and Grooming
                </span>
            </div></a>
            <a href="{% url 'posting_service:category' 'CLEANING AND JANITORIAL' %}"><div id="pannel">
                <img src="{% static 'img/cleaning_and_janitorial.jpeg' %}" alt="Description" style="width: 150%;height: 100%; object-fit:cover; object-position:right;"/>
                <span id="pannelheader" style="font-size: 20px; text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000; ">
                    Cleaning and Janitorial
                </span>
            </div></a> 
            <a href="{% url 'posting_service:category' 'CONSTRUCTION AND RENOVATION' %}"><div id="pannel">
                <img src="{% static 'img/construction.jpeg' %}" alt="Description" style="width: 150%;height: 100%; object-fit:cover; object-position:right;"/>
                <span id="pannelheader" style="font-size: 18px; text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000; ">
                    Construction and Renovation
                </span>
            </div></a>
        </div>
        <div style="margin-bottom: 30px;"></div>
        <div id = "categories">
            <a href="{% url 'posting_service:category' 'LANDSCAPING AND GARDENING' %}"><div id="pannel">
                <img src="{% static 'img/gardening.avif' %}" alt="Description" style="width: 150%;height: 100%; object-fit:cover; object-position:right;"/>
                <span id="pannelheader" style="font-size: 18px; text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000; ">
                    Landscaping and Gardening
                </span>
            </div></a>
            <a href="{% url 'posting_service:category' 'CHILD AND PET CARE' %}"><div id="pannel">
                <img src="{% static 'img/child_care.jpeg' %}" alt="Description" style="width: 150%;height: 100%; object-fit:cover; object-position:center;"/>
                <span id="pannelheader" style="font-size: 20px; text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000; ">
                    Child and Pet Care
                </span>
            </div></a>
            <a href="{% url 'posting_service:category' 'TECHNOLOGY AND CREATIVE ARTS' %}"><div id="pannel">
                <img src="{% static 'img/film.jpeg' %}" alt="Description" style="width: 150%;height: 100%; object-fit:cover; object-position:right;"/>
                <span id="pannelheader" style="font-size: 18px; text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000; ">
                    Technology and Creative Arts
                </span>
            </div></a>
            <a href="{% url 'posting_service:category' 'OTHER' %}"><div id="pannel">
                <img src="{% static 'img/freelancer.png' %}" alt="Description" style="width: 150%;height: 100%; object-fit:cover; object-position:right;"/>
                <span id="pannelheader" style="font-size: 20px; text-shadow:  -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000; ">
                    Other
                </span>
            </div></a>
        </div>
    </div>
{% endblock content %}

{% comment %} {% block content %}
    <div id="webpage" style="margin-top:-150px;">
        <div class="slider">
            <div id="text">
                Locator
                <form action="" class="search-bar">
                    <input type="text" placeholder="Search...">
                    <button type="submit"><i class="fa fa-search fa-sm" style="color:white;"></i></button>
                </form>
            </div>
            <div class="slide" style="background-image: url('{% static "img/IMG2.jpg" %}');"></div>
            <div class="slide" style="background-image: url('{% static "img/IMG3.jpg" %}');"></div>
            <div class="slide" style="background-image: url('{% static "img/IMG4.jpg" %}');"></div>
            <div class="slide" style="background-image: url('{% static "img/IMG5.jpg" %}');"></div>
            <div class="slide" style="background-image: url('{% static "img/IMG6.jpg" %}');"></div>
        </div>

        <div id="categories">
            <div class="pannel"><i class="fa fa-bell fa-3x"></i></div>
            <div class="pannel"><i class="fa fa-bath fa-3x"></i></div>
            <div class="pannel"><i class="fa fa-car fa-3x"></i></div>
            <div class="pannel"><i class="fa fa-bicycle fa-3x"></i></div>
        </div>
    </div>
{% endblock %} {% endcomment %}

    
